/* product-details.component.css */
.product-details-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #4caf50;
  }
  
  p {
    margin-bottom: 10px;
  }
  